@media screen and (max-width: 600px) {

    .container-lesson-feedback-summary {
        width: 100%;
    }

    .container-btn-next-lesson {
        width: 100%;
    }

    .next-lesson-btn {
        width: 100%;
    }

}