@media screen and (max-width: 600px) {

    .container-lesson-feedback {
        z-index: 1;
    }

    .container-lesson-feedback-summary {
        width: 100%;
    }

    .container-btn-next-lesson {
        width: 100%;
    }

    .next-lesson-btn {
        width: 100%;
    }

    .star:hover {
        fill: #d91d0b;
    }

}