@media screen and (max-width: 600px) {

    .container-panel-navigation {
        display: block;
        position: absolute;
        top: 67px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 100;

        background-color: #eeeeee;
        padding: 16px 24px 16px 24px;
    }

    .hidden-panel-navigation {
        display: none;
    }

    .mobile-field-nav {
        padding: 16px 0;

        font-family: "Segoe UI";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .separator-mobile-field-nav-top {
        border-top: 1px solid #d5d6dc;
        margin-bottom: 24px;
    }

    .mobile-filed-nav-RB-RU {
        text-decoration: none;
        font-family: "Segoe UI";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #0e0e0e;
    }

    .separator-mobile-field-nav-bottom {
        border-bottom: 1px solid #d5d6dc;
        padding-top: 24px;
    }

    .container-mobile-field-nav-ep {
        display: flex;
        gap: 8px;
        padding-top: 32px;
    }

    .mobile-field-nav-ep {
        font-family: "Segoe UI";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .container-mobile-contact-box {
        display: flex;
        gap: 8px;
        padding: 24px 0;
    }

    .mobile-contact-box {
        font-family: "Segoe UI";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .container-telegram-channel {
        display: flex;
        gap: 8px;
    }

    .telegram-channel {
        font-family: "Segoe UI";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .course-heading {
        padding-left: 16px;
        padding-right: 16px;
    }

    .course-item-title {
        margin-bottom: 24px;
    }

    .content-title {
        font-size: 30px;
        font-weight: 600;
    }

    .marker {
        display: none;
    }

    .container-marker {
        position: relative;
        display: flex;
        justify-content: center;

        width: 100%;
    }

    .mobile-marker {
        position: absolute;

        top: -7px;
        width: 16px;
        height: 16px;
        background-color: #ef3124;
        border-radius: 100%;
    }

    .content-underline {
        width: 100%;
        margin: 0;
    }

    .text-content {
        padding: 12px 0 0 0;
        margin-bottom: 32px;
        text-align: center;
    }

    .modal-form {
        flex-direction: column;
        gap: 16px;
    }

    .form-field {
        width: 100%;
        box-sizing: border-box;
    }

    .btn-open {
        width: 100%;
        height: 56px;
    }
    
}