@media screen and (max-width: 600px) {

    .container-navigation {
        padding: 16px 0 16px 0;
    }

    .navigation {
        padding-left: 0;
        margin-right: 0;

    }

    .navigation-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        padding-left: 32px;
    }

    .field-nav {
        display: none;
    }

    .separator-field-nav {
        display: none;
    }

    .container-field-nav-ep {
        display: none;
    }

    .container-btn-login {
        margin-left: 0;
    }

    .container-right-menu-navigation {
        display: flex;
        align-items: center;
        margin-right: 32px;
    }

    .btn-login {
        margin-right: 24px;
    }

    .burger-menu-close {
        background: url("../images/burger.svg") no-repeat;
        width: 32px;
        height: 12px;
        display: block;

    }

    .burger-menu-open {
        background: url("../images/close-burger-menu.svg") no-repeat;
        width: 32px;
        height: 32px;
    }

}